.lp-container {
    display: grid;
    grid-template-columns: 1fr;
}

#header-split {
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    max-width: 100vw;
}

.lp-container-header {
    display: block;
    margin: 100px 0 0 0;
}

h3 {
    text-align: center;
}

/* Navbar Concerns */
.masthead {
    /* Both are necessary to keep the #menu-toggle visible when nav list is active / open */
    position: absolute;
    z-index: 1000;
    /****************************/

    display: flex;
    top: 12px;
    right: 20px;
    /* align-items: baseline; */
}

.menu-toggle {
    cursor: pointer;
    width: 55px;
    z-index: 3;
}

.menu-toggle div {
    background-color: #ccc;
    border-radius: 25px;
    box-shadow: 0px 3px 13px rgba(0,0,0,.3);
    height: 7px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.13,.24,.35,1.64);
}

.menu-toggle .one,
.menu-toggle .two {
    margin-bottom: 7px;
}

.main-nav.list::before,
.main-nav-list::after {
    background-color: #000000;
    content: "";
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0vw;
    transition: all 100ms ease-in-out 300ms;
}

.main-nav-list::before {
    left: 0;
}

.main-nav-list::after {
    right: 0;
}

.main-nav-list ul {
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    z-index: 2000;
}

.main-nav-list a {
    display: block;
    font-size: 2rem;
    letter-spacing: 3px;
    margin-bottom: 15px;
    opacity: 0;
    text-align: center;
    text-transform: uppercase;
    transition-delay: 130ms;
}

.main-nav-list .mobile-hide { /** Hides the link when viewing size on mobile devices. **/
    display: none;
}

.masthead.active h1 {
    text-shadow: 0px 3px 3px rgba(0,0,0,.4);
}

.menu-toggle.active .one {
    box-shadow: 0px 3px 13px rgba(0,0,0,.4);
    transform: translate(0, 14px) rotate(45deg);
}

.menu-toggle.active .two {
    background-color: transparent;
    box-shadow: none;
    transform: translateX(-55px);
}

.menu-toggle.active .three {
    box-shadow: 0px 3px 13px rgba(0,0,0,.4);
    transform: translate(0, -14px) rotate(-45deg);
}

.main-nav-list.active::before,
.main-nav-list.active::after {
    width: 100vw;
}

.main-nav-list.active ul{
    top: 50%;
    transform: translate(-50%,-50%);
    transition-delay: 560ms;
    transition-duration: 240ms;
    transition-timing-function: cubic-bezier(.1, .2, .3, 1.4);
}

.main-nav-list.active a{
    /* transition-delay: 600ms; */
    opacity: 1;
}


/* Media Queries */
@media screen and (max-width: 1200px) {
    .lp-container {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
}