* {
    margin: 0; border: 0; padding: 0;
}

.brand img {
    height: 80px;
    width: 200px;
    margin-left: 20px;
}

h1, h3 {
    text-align: center;
    font-size: 2rem;
    margin: 100px 0 0 0;
}

.greet {
    text-align: center;
    margin: 100px 0 0 0;
    font-size: 24px;
}

nav {
    background-color: black;
}